.operation {
    color: #007bff;  /* Bleu pour les opérations */
    font-weight: bold;
}

.ingredient {
    color: #28a745;  /* Vert pour les ingrédients */
    font-style: italic;
}

.step-description {
    color: #6c757d;  /* Gris pour les descriptions d'étapes */
    background-color: aliceblue;
    border: rounded 1px #007bff;
    border-radius: 5px;
}
.step-operation {
    box-sizing: border-box;
    color: #6c757d;  /* Gris pour les descriptions d'étapes */
    background-color: lightblue;
    border: solid 1px lightskyblue;
    border-radius: 5px;
    min-height: 27px;
    padding: 2px;
}
.operation-item{
    border: solid 1px lightslategray;
    border-radius: 2px;
}

.step-item {
    border: solid 1px lightslategray;
    border-radius: 2px;
    padding: 2px;
}

/* Couleur de fond pour les ingrédients de la recette dans le popup operations */
.ingredient-option {
    background-color: #FFF9C4;
}

/* Couleur de fond pour les ingrédients intermédiaires dans le popup operations*/
.result-ingredient-option {
    background-color: #C8E6C9;
}